{% extends 'base.html.twig' %}

{% block section %}
	<article>
		<h1>{% block header %}{% endblock %}</h1>
		{% block body %}{% endblock %}
	</article>
	<aside>
			<div class="block block-vote">
				{% include 'vote/widget.html.twig' %}
				<a class='header' href="{{ path('vote_list') }}">ВСЕ ГОЛОСОВАНИЯ</a>
			</div>
		<div class="block">
			<!-- VK Widget -->
			<div id="vk_groups"></div>
		</div>
	</aside>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
<script>
	VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 85683);
</script>
{% endblock %}